.card__delete {
  width: 18px;
  height: 19px;
  margin: 0;
  padding: 0;
  display: flex;
  border: none;
  background: none;
  background-image: url(../../../images/urn.svg);
  background-repeat: no-repeat;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__delete:hover {
  opacity: 0.5;
  cursor: pointer;
}
