.header__sign-up {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity 0.2s linear;
}

.header__sign-up:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header__sign-up {
    font-size: 14px;
    line-height: 1.2;
	}
}

@media (max-width: 600px) {
  .header__sign-up {
    
	}
}