.header__info {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 600px) {
  .header__info {
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    flex-direction: column;
    gap: 18px;
    grid-area: info;
    justify-self: center;
	}
}