.header__info {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 600px) {
  .header__info {
    width: 24px;
    height: 21px;
    object-fit: cover;
    background-image: url(../../../images/burger.png);
	}
}