.footer {
  width: 100%;
  max-width: 880px;
  margin: 0;
  padding: 67px 0 60px 0;
  display: flex;
  flex-shrink: 1;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;
}

@media (max-width: 950px) {
  .footer {
    padding-top: 48px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 36px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-left: 19px;
    padding-right: 19px;
  }
}
