.form__question {
  margin: 0;
  padding: 15px 0;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.2s linear;
}
.form__question:hover {
  opacity: 0.5;
  cursor: pointer;
}