.form__title {
  width: 100%;
  margin: 0;
  padding: 0 0 40px 0;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  align-self: flex-start;
}

@media (max-width: 600px) {
  .form__title {
    font-size: 18px;
    line-height: 1.22;
    padding-bottom: 68px;
  }
}
