.form_type_login {
  margin: 0;
  padding: 60px 36px 60px 36px;
  justify-content: flex-start;
  flex: 1;  /*для липкого футера*/
  border-radius: 0;
  background-color: black;
}

@media (max-width: 600px) {
  .form_type_login {
    padding: 40px 30px 60px 30px;
  }
}
