@media (max-width: 600px) {
  .header__info_grid {
    width: 100%;
    padding-top: 12px;
    flex-direction: column;
    gap: 18px;
    grid-area: info;
    justify-self: center;
    margin-bottom: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
	}
}