.header {
  width: 100%;
  max-width: 880px;
  padding: 45px 0 41px 0;
	display: flex;
	justify-content: flex-start;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 950px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 31.6px;
	}
}
